/* adjusting the built-in theme */
/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --header-width:3rem;


    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color:230; /*142-green Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color:hsl(var(--hue-color),69%,61%);
    --first-color-second:hsl(var(--hue-color),69%,61%);
    --first-color-alt:hsl(var(--hue-color),57%,53%);
    --first-color-lighter:hsl(var(--hue-color),92%,85%);
    --date-color:rgb(214, 140, 140);
    --arrow-color:rgb(162, 209, 162);
    --title-color:hsl(var(--hue-color),8%,15%);
    --text-color:black;
    --text-color-light:hsl(var(--hue-color),8%,65%);
    --input-color:hsl(var(--hue-color),70%,96%);
    --body-color:hsl(var(--hue-color),60%,99%);
    --container-color:#FFF;
    --scroll-bar-color:hsl(var(--hue-color),12%,90%);
    --scroll-thumb-color:hsl(var(--hue-color),12%,80%);

    /*========== Font and typography ==========*/
    --body-font:"Poppins",sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size:2rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font-size:1.2rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;

    /*========== Font weight ==========*/
    --font-medium:600;
    --font-semi-bold:500;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25:.25rem;
    --mb-0-5:.5rem;
    --mb-0-75:.75rem;
    --mb-1:1rem;
    --mb-1-5:1.5rem;
    --mb-2:2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;

    /*========== z index ==========*/
    --z-tooltip:10;
    --z-fixed:100;
    --z-modal:1000;
}



.navigator_default_title{
    font-size:var(--small-font-size);

}

.navigator_default_titleleft, .navigator_default_title, .navigator_default_titleright, .navigator_default_cell{
    background-color: transparent;
    color:white;


}

.navigator_default_main{
    width:300px;
    border:none;
    
    

}
.navigator_default_month{
    width:300px;
    border:none;
    border-radius: var(--mb-1-5);
    background-color: var(--first-color);

}

.navigator_default_dayother{
    color:var(--first-color-lighter);
}
.navigator_default_cell:hover{
    background-color: var(--date-color);
    border-radius:var(--mb-2);

}
.navigator_default_titleleft:hover , .navigator_default_titleright:hover{
    
    background-color: var(--arrow-color);
    border-radius: var(--mb-3);
}
.navigator_default_dayheader{
    color:white;
}

/* SCHEDULAR */

/* calendar event */
.calendar_default_event_inner {
    background: #2e78d6;
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Poppins';
    padding: 5px;
    opacity: 0.8;
}

.calendar_default_main{
    /* margin-right: 10rem; */
    border:none;
    max-height: 200px;


}
.calendar_default_corner{
    border:none;
    min-width: 100px;
    
}
.calendar_default_corner_inner{
    border: 0px;
    /* width:100px; */
    

    background-color:transparent;
}
.calendar_default_cornerright{
    min-height: 50px;
    border:none;
    margin-bottom:var(--mb-1);

    
    /* background-color: transparent; */

}
.calendar_default_cornerright_inner{
   
    border:none;
    border-top-right-radius:2rem ;
    border-bottom-right-radius:2rem ;
    background-color: var(--first-color);
    
    /* background-color: transparent; */

}
.calendar_default_colheader{
    min-height:50px;
    /* max-width: 300px; */
    margin-bottom:var(--mb-1);
}
.calendar_default_colheader_inner{
    height:100%;
    /* width:300px; */
    /* width:min-content; */
    
    border:none;
    color:var(--first-color);
    font-weight: bolder;
    
  
    background-color: var(--first-color-lighter);
}
.calendar_default_rowheader{
    /* font-size :10px; */
    min-width: 100px;
    /* background-color: var(--first-color-alt); */

}
.calendar_default_rowheader_inner{
    background-color: transparent;
    border-right: none;


}
.calendar_default_rowheader_inner div{
    display: flex;
    background-color: transparent;
    border-right: none;
    font-size: 13px;
    font-weight: bolder;

    color:var(--first-color-second);
    margin-top: 15px;

}

.calendar_default_rowheader_minutes::before{
    font-size: 13px;
    content: " : 00 ";
}

.calendar_default_event_inner{
    opacity: 50%;
}

